a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	background-color: limegreen;
}

.gallery {
	border: 1px solid green;
}

.gallery:hover {
	border: 1px solid grey;
}

.gallery: images {
	width: 10%;
	height: auto;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 25%;
}